#page_title {
  font-size: 28px;
  font-weight: bold;
}

#sidebar {
  background-color: #FFFFFF;
}

.player_subheader {
  font-size: 14px;
  font-weight: bold;
}

.zone_player {
  color: #386cb0;
}

.section_header {
  font-size: 18px;
  font-weight: bold;
}

.subtitles {
  color:#386cb0;
}