#court {
max-width: 100%;
margin: 0 auto;
}
#court img {
max-width: 100%;
height: auto;
margin-bottom: 5px;
}
#court_theme .radio {
display: inline-block;
padding-left: 0.5em;
}
#court_theme .shiny-options-group { display: inline-block; }
.shot-chart-container {
  position: relative;
  padding-bottom: 1em;
}